<app-header (sendLanguage)="getLanguage($event)"></app-header>
<p class="title margin is-size-1">{{ 'title' | translate }}</p>

<div class="columns">
    <div class="column ">
        <img src="assets/img/tempest.jpg" alt="" width="800" height="800">
    </div>
    <div class="column">
        <div class="block  has-text-justified">
            <h2 class="subtitle">{{ 'description' | translate}}</h2>
        </div>
    </div>
</div>

<p [innerHTML]="'dinamic_statement' | translate:{param:this.dinamicNumber }"></p>
<lib-my-lib></lib-my-lib>
<router-outlet></router-outlet>