
body {
	background: rgb(254, 245, 237);
	background: linear-gradient(
	  156deg,
	  rgba(254, 245, 237, 0.970857771260997) 62%,
	  rgba(211, 228, 205, 0.7127932551319648) 87%
	);
	text-align: center;
	padding: 30px;
	min-height: 100vh;
  }
  
  .pic { 
	  border:1px solid black;
   }